infrastructure/sj_atom/n8n_morning_briefing.json
{
  "name": "SJ's Morning Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "name": "Wake Up (7 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [0, 0],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=-45.8742&longitude=170.5036&daily=weather_code,temperature_2m_max,temperature_2m_min&timezone=Pacific%2FAuckland&forecast_days=1",
        "options": {}
      },
      "name": "Fetch Weather (Dunedin)",
      "type": "n8n-nodes-base.httpRequest",
      "position": [200, 0],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "fileName": "=/vault/SJ_Diary_{{$now.minus({'days':1}).format('yyyy-MM-dd')}}.md"
      },
      "name": "Read Yesterday Diary",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [400, 0],
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "parameters": {
        "fileName": "=/vault/SJ_Diary_{{$now.minus({'days':30}).format('yyyy-MM-dd')}}.md"
      },
      "name": "Read T-30 Diary",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [600, 0],
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "parameters": {
        "fileName": "=/vault/SJ_Diary_{{$now.minus({'days':365}).format('yyyy-MM-dd')}}.md"
      },
      "name": "Read T-365 Diary",
      "type": "n8n-nodes-base.readWriteFile",
      "position": [800, 0],
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3"
            },
            {
              "name": "prompt",
              "value": "=You are a supportive, autonomous ambient intelligence assistant providing a morning briefing to SJ.\n\nToday's Weather: Max {{$('Fetch Weather (Dunedin)').item.json.daily.temperature_2m_max[0]}}°C, Min {{$('Fetch Weather (Dunedin)').item.json.daily.temperature_2m_min[0]}}°C.\n\nYESTERDAY'S DIARY:\n{{$('Read Yesterday Diary').item.json.data || 'No diary entry yesterday.'}}\n\nEXACTLY 30 DAYS AGO:\n{{$('Read T-30 Diary').item.json.data || 'No diary entry 30 days ago.'}}\n\nEXACTLY 1 YEAR AGO:\n{{$('Read T-365 Diary').item.json.data || 'No diary entry 1 year ago.'}}\n\nTask: Write a concise, profound 3-sentence morning briefing for her. Mention the weather. If there is a meaningful connection between her past thoughts (30 days or 1 year ago) and her current state (yesterday), gently reflect on her growth or resilience. Do not include any conversational filler."
            },
            {
              "name": "stream",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "name": "Ollama Brain",
      "type": "n8n-nodes-base.httpRequest",
      "position": [1000, 0],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "chatId": "8309108979",
        "text": "={{ JSON.parse($json.response).response }}",
        "additionalFields": {}
      },
      "name": "Telegram (Send to SJ)",
      "type": "n8n-nodes-base.telegram",
      "position": [1200, 0],
      "typeVersion": 1
    }
  ],
  "connections": {
    "Wake Up (7 AM)": {
      "main": [
        [
          {
            "node": "Fetch Weather (Dunedin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Weather (Dunedin)": {
      "main": [
        [
          {
            "node": "Read Yesterday Diary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Yesterday Diary": {
      "main": [
        [
          {
            "node": "Read T-30 Diary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read T-30 Diary": {
      "main": [
        [
          {
            "node": "Read T-365 Diary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read T-365 Diary": {
      "main": [
        [
          {
            "node": "Ollama Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Brain": {
      "main": [
        [
          {
            "node": "Telegram (Send to SJ)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
